// variables
$body-clr: #000;
$dark-bg: #003d83;
$light-bg: #054d9f;
$bg-input: #f5f5f5;
$clr-secondary: #8cff40;
$clr-secondary-darken: #29cb65;
$border-color: #{$clr-secondary};
$light-orange: #fbcc15;
$dark-orange: #ff6f00;
$light-slateblue: #7c99c8;
$dark-slateblue: #7489ab;
$light-purple: #c77cf1;
$dark-purple: #6c63ff;
$lavender: #dce7f9;
$text-primary: #666;
$text-secondary: #2980b9;
$text-span: #e74c3c;
$border-input: #ebebeb;
$box-shadow: rgba(0, 0, 0, 0.15);
