@charset "utf-8";
@import "fonts";
@import "colors";
@import "global";
@import "tools/mixins";
@import "tools/placeholders";

/*----------HEADER NAV TOP-----------*/
header {
  background: url(../css/img/bgclr.svg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.first-nav {
  @extend %firstnav;
  &__item {
    @include flex(row, space-between, center);
    margin: 4%;
    & > li {
      margin-left: 16px;
      font-family: "Vazir", sans-serif;
      color: white;
      &:hover {
        color: darken(white, 15%);
      }
    }
  }

  &__icon::before {
    content: "";
    background: url(../../img/home.png);
    background-repeat: no-repeat;
    background-size: 16px 19px;
    background-position: 16px 5px;
    padding-left: 33px;
    cursor: pointer;
  }
  #btn-login {
    @include btn-input(white, $border-color);
    @include green-gradient;
  }
}

/*----------LOGO IMAGE-----------*/
.header__logo {
  @include flex(row, center, center);
}
#img-logo {
  width: 20%;
  height: 20%;
}
/*----------SECONDE NAV-----------*/
.header-nav__bottom {
  width: 100%;
  height: 40vh;
}
.seconde-nav__list {
  position: relative;
  list-style: none;
  width: 100%;
  height: 100%;
}
.seconde-nav__item {
  position: absolute;
  width: 12%;
  padding: 0;

  & > img {
    -webkit-clip-path: circle(42.5% at 50% 50%);
    clip-path: circle(42.5% at 50% 50%);
    background-color: white;
    padding: 2em;
  }
}
#active {
  @include green-gradient;
}
#car-insurance {
  position: relative;
}
#car-img {
  position: absolute;
  width: 20%;
  left: 42%;
  top: -84px;
}

/*----------SECONDE NAV CURVED-----------*/
.pos-first {
  top: -12%;
  left: 88%;
}
.pos-sec {
  top: 2%;
  left: 74%;
}
.pos-third {
  top: 12%;
  left: 60%;
}
.pos-forth {
  top: 22%;
  left: 44%;
}
.pos-fifth {
  top: 12%;
  left: 30%;
}
.pos-sixth {
  top: 4%;
  left: 16%;
}
.pos-seventh {
  top: -12%;
  left: 2%;
}

/*----------THIRDPARTY SECTION-----------*/
.Thirdparty-section {
  @include flex(column, center, center);
  margin-top: 10em;
}

#legende {
  position: absolute;
  top: 124%;
  left: 34%;
  padding: 0.1em 2.5em;
  border-radius: 20px 20px 20px 20px;
  @include orange-gradient;
}
#legende > h1 {
  font-size: 35px;
  word-spacing: 5px;
  color: white;
}
.Thirdparty-section__infos {
  width: 80%;
  display: flex;
  align-items: center;
}
.bgclr-form {
  width: 100%;
  height: 50vh;
  padding: 2em;
  margin: 0 auto;
  background-color: $dark-bg;
  border-radius: 20px 20px 20px 20px;
}
#Thirdparty-form {
  height: 100%;
}
.form-container {
  @include flex(column, flex-start, space-evenly);
  width: 100%;
  height: 100%;
}

.row {
  @include flex(row, stretch, center);
  width: 100%;
  height: 100%;
}

.form-group {
  @include flex(column, stretch, flex-start);
  width: 33%;
}
#date-damage {
  @include flex(row, space-between, stretch);
}
.date-damage {
  display: flex;
  flex-direction: column;
  width: 48%;
}
#date {
  flex-grow: 2;
}

label {
  font-size: 14px;
  color: white;
}
select {
  width: 90%;
  border-radius: 34px;
  border-color: $border-input;
  background-color: $bg-input;
  padding: 1em;
}

#pay-btn {
  @include btn-input(white, $light-slateblue);
  @include slateblue-gradient;
}
select:required:invalid {
  color: $clr-input;
  font-size: 13px;
}
option[value=""][disabled] {
  display: none;
}

/*----------INPUT SWITCH-----------*/
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 49px;
}
#input-switch {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.slider::before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 42px;
  width: 42px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
#input-switch:checked + .slider {
  background-color: #2196f3;
}
#input-switch:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
#input-switch:checked + .slider::before {
  transform: translateX(50px);
}

/*----------INQUIRY SECTION-----------*/
.inquiry-section {
  &__service {
    @include flex(column, center, center);
  }
  &__container {
    @include flex(row, space-around, center);
    width: 80%;
    margin-top: 2em;
    background-color: $lavender;
    border-radius: 60px;
  }
  &__title {
    @include flex(row, center, center);
    margin-top: 2em;
  }
  &__box {
    @include flex(column, center, center);
    & > img {
      width: 50%;
      padding: 2em;
      -webkit-clip-path: circle(42.5% at 50% 50%);
      clip-path: circle(42.5% at 50% 50%);
      background-color: white;
    }
  }
}
#inquiry-price {
  border: none;
  border-radius: 34px;
  @include orange-gradient;
  & > h3 {
    padding: 0.2em 1em;
    word-spacing: 5px;
    font: {
      size: 25px;
      weight: 200;
    }
    color: white;
  }
}
.figure-caption {
  color: $body-clr;
  padding: 0.5em 0;
  font: {
    size: 14px;
    weight: 200;
  }
}

/*----------REMINDER SECTION-----------*/

.reminder-section {
  @include flex(column, space-around, center);
  width: 80%;
  height: 50vh;
  margin-bottom: 4em;
  margin-top: 4em;
  background-color: $light-slateblue;
  border-radius: 60px;
  &__boxtitle {
    @include flex(row, space-evenly, center);
    width: 100%;
  }
  &__title {
    font: {
      size: 150%;
      weight: 200;
    }
    padding: 0.3em 5em;
    background-color: $bg-title;
    border-radius: 60px;
    color: white;
  }
  &__form {
    @include flex(row, space-evenly, center);
    width: 80%;
  }
}
.input-form {
  width: 90%;
  font-size: 13px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding: 1em;
  background-color: $bg-input;
  border-radius: 34px;
  border: 1px solid $border-input;
}
#btn-register {
  @include btn-input(white, white);
  @include orange-gradient;
  margin: 2em 0;
  padding-left: 2em;
  padding-right: 2em;
  word-spacing: 5px;
  border-width: 2px;
}

/*----------ARTICLE SECTION-----------*/

.article-section {
  @include flex(row, space-between, center);
  width: 70%;
  &__box {
    @include flex(row, space-between, center);
    width: 100%;
  }
  &__item {
    @include flex(column, center, center);
    width: calc(25% - 22px);
  }
  &__img {
    max-width: 100%;
    overflow: hidden;
    &--filter {
      position: relative;
      width: 100%;

      &::after {
        content: " ";
        position: absolute;
        overflow: hidden;
        left: 0;
        top: 0;
        width: 100%;
        height: 94%;
        display: inline-block;
        @include filter-gradient;
        opacity: 0.5;
        z-index: 900;
      }
    }
  }
  &__content {
    @include flex(column, space-around, stretch);
    margin-top: -0.5em;
    padding: 0.5em 0;
    background: white;
    box-shadow: 0 4px 5px 1px $box-shadow;
  }
  &__title {
    font-size: 60%;
    &:hover {
      color: lighten($body-clr, 15%);
    }
  }
  &__desc {
    font-size: 0.5em;
    line-height: 1.4;
    margin-top: 0.4em;
    text-align: justify;
  }

  &__poster {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
}
.content-header {
  @include flex(row, space-around, center);
  font-size: 60%;
}
.content-primary {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.content__footer {
  color: $blue;
  font : {
    size: 70%;
    weight: 200;
  }
  align-self: flex-end;
  padding-left: 1.5em;
}
.read-more {
  cursor: pointer;
  &:hover {
    color: $light-bg;
  }
}
/*----------LOGOSBIME SECTION-----------*/
.logosbime-section {
  width: 70%;
  margin-top: 4em;
  margin-bottom: 4em;
  &__container {
    width: 100%;
  }
  &__img {
    width: 100%;
    display: inline-block;
  }
}

/*----------FOOTER SECTION-----------*/
.footer-section {
  width: 100%;
  height: 90vh;
  &__top {
    width: 100%;
    height: 75%;
    background-color: $light-bg;
  }
  &__textbox {
    @include flex(row, flex-start, center);
    width: 80%;
    height: 100%;
    margin-right: 4em;
    color: white;
  }
  &__title {
    font : {
      size: 110%;
      weight: 300;
    }
    padding: 0.3em 1em;
    margin-bottom: 1.5em;
    background-color: $text-secondary;
    border-radius: 60px;
  }
  &__subtitle {
    text-align: justify;
    font-size: 90%;
  }
  &__column {
    @include flex(column, center, flex-start);
    width: 35%;
    height: 100%;
  }
  &__bottom {
    @include flex(row, flex-end, center);
    width: 100%;
    height: 25%;
    background-color: $dark-bg;
  }
  &__list {
    @include flex(row, space-between, center);
    margin-left: 2em;
    font-size: 240%;
    color: white;
  }
  &__logo {
    display: inline-block;
    width: 100%;
  }
}
address {
  font-style: normal;
  margin: 2em 3em 0 0;
}
